doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css")
  title Waktu Solat

  block content
  
  main.container
    .grid
      div 
      div 
      div
      | Reach us:
      a(href='https://github.com') @c4lyp5o
      div 
      div
      div

  
